<div class="row panel">
			<div class="col-sm-12 header">
				<h1>{{eachbookshelf.name}}</h1>
			</div>
			<div class="col-sm-12 panel-content">
				<div ng-repeat="eachbook in categorybookdetails" class="col-sm-4 col-md-4 panel-content-item">
					<figure>
						<img ng-src="{{eachbook.img}}" alt="bookthumbnail"/>
						<div class="dropdown" uib-dropdown  dropdown-append-to-body="true">
							<a class="MoveBook" id="move-to" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false" >
									<i class="glyphicon glyphicon-chevron-down"></i>
							</a>
							<ul  class="list-group list-item dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
								<li disabled="disabled"><a>Move To</a></li>
								<li ng-repeat="eachshelf in bookshelfs" ng-class="{{parentindex == eachshelf.id?ticked:noticked}}">{{eachshelf}}
									<a ui-sref="{{eachshelf[$index].state}}">{{eachshelf[$index].name}}</a>
								</li>	
								<li><a>None</a></li>	
							</ul>
						</div>
						<figcaption>{{eachbook.bookname}}<br/>{{eachbook.writer}}</figcaption>
					</figure>
				</div>
			</div>
		</div>